.containerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 150px;
    height: 50px;
    background-color: red;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover{
    transform: scale(1.1);
}

.disabledButton {
    width: 150px;
    height: 50px;
    background-color: rgb(32, 126, 126);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s;
}

span {
    display: block;
    color: white;
    background-color: black;
}